
body {
    font-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hourly-weather {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: min-content;
    padding: 30px;
    background-color: #546bab;
    border-radius: 20px;
    gap: 30px;
}

#temperature-text {
    font-size: 3em;
    margin: 5px
}

.hour {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#weekly-weather {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: min-content;
    padding: 30px;
    border-radius: 20px;
    background-color: #546bab;
    gap: 20px
}

.day {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    width: fit-content;
}

#bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 150px;
}

#top h5 {
    border: 1px solid green;
}

#top h2 {
    margin: 10px
}

#extra {
    padding-top: 20px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    
}

.extra-inner {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
}

.hourly-weather-inner, .weekly-weather-inner {
    padding: 50px
}

#hourly-weather div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#extra div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#extra div h4 {
    margin-bottom: 5px
}

#input {
    padding: 10px;
    height: 20px;
    border-radius: 15px;
}

#background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
}

#weatherCondition, #test {
    width: 80vw;
    height: 100px;
    overflow: hidden;
}

#dayOrNight {
    width: 20vw;
    margin-left: 5vw;
}

@media screen and (max-width: 480px) {
    #weekly-weather, #hourly-weather {
        padding: 10px
    }
    #extra div h2 {
        font-size: larger;
    }
    #dayOrNight {
        margin-left: 2vw;
    }
  }


  @media screen and (max-width: 376px) {
    #hourly-weather, #weekly-weather {
        padding: 10px;
        gap: 10px
    }
    #weekly-weather h3 {
        font-size: medium;
        padding: 5px;
        gap: 5px
    }
    .day {
        gap: 2.5px;
    }
    #extra div h2 {
        font-size: medium;
    }
    .extra-inner {
        width: 39%;
    }
    #extra {
        width: 62.5%;
    }
    #dayOrNight {
        margin-left: 2vw;
    }
}

@media screen and (max-width: 321px) {
    #hourly-weather, #weekly-weather {
        padding: 5px;
        gap: 10px
    }
    #weekly-weather h3 {
        font-size: medium;
        padding: 5px;
        gap: 5px
    }
    .day {
        gap: 2.5px;
    }
    #extra div h2 {
        font-size: small;
    }
    .extra-inner {
        width: 39%;
    }
    #extra {
        width: 62.5%;
    }
    #dayOrNight {
        margin-left: 2vw;
    }
}
